<!DOCTYPE html>
<html>

<head>
    <title>Checkout</title>
    <link rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<div class="container">
<h1>Checkout</h1>

<form method="POST">

    Delivery Address:<br><br>

    <textarea
        name="address"
        rows="4"
        cols="40"
        required></textarea>

    <br><br>

    Payment Mode:<br><br>

    <select name="payment_mode" required>

        <option value="">Select</option>

        <option>Cash on Delivery</option>

        <option>Online Payment</option>

    </select>

    <br><br>

    <button type="submit">
        Confirm Order
    </button>

</form>

<br><br>

<a href="/view_cart">
    <button>Back</button>
</a>
</div>
</body>

</html>